
body{
    width: 1200px;
    background-color: rgb(244, 247, 250);
    margin: auto;
    border: 1px solid red;
}
h1{
    color: aqua;
    text-align: center;
}
.chia-cot{
    display: flex;
    justify-content: space-between;
    width: 1200px;

}
.trai{
    width: 220px;
}
.phai{
    display: flex;
    width: 980px;
    text-align: center;
    font-size: 25px;
}
.phai-1{
    margin-top: 10px;
    width: 300px;
    height: 30px;

    padding-top:80px ;
}
.phai .phai-2{
    padding-top: 100px;
    margin-top: 15px;
    margin-left: 60px;
    width: 50%;

}
img{
    width: 100%;
}
