body{
    width: 870px;
    background-color: rgb(244, 247, 250);
    margin: auto;
}
h1{
    color: aqua;
    text-align: center;
}
.chia-cot{
    display: flex;
    padding-top: 20px;
}
.bai-hat{
    border: 1px solid rgb(110, 110, 19);
    border-radius: 0 40px 0 40px;
    box-shadow: 0 0 10px red;
}
div.bai-hat div img{
width: 100px;
height: 100px;
margin-left: 20px;
margin-bottom: 10px;
}
div.bai-hat div audio{
    margin-top: 10px;
    width: 300px;
    height: 30px;
}
div.chia-cot.bai-hat div.chia-cot{
    width: 50%;
}
div.bai-hat div b{
    margin-top: 15px;
    margin-left: 60px;
};