
body{
    width: 970px;
    background-color: rgb(244, 247, 250);
    margin: auto;
    border: 1px solid red;
}
h1{
    color: aqua;
    text-align: center;
}
.chia-cot{
    display: flex;
    justify-content: space-between;
    width: 1000px;

}
.trai{
    width: 220px;
}
.phai{
    display: flex;
    width: 980px;
    text-align: center;
    font-size: 25px;
}
.phai-1{
   

   
}
.phai .phai-2{

}
img{
    width: 100%;
}
