body{
    background-color: beige;
}
div.nen{
    width: 300px;
    background-color: bisque;
    margin: auto;
    box-shadow: 0px 0px 10px red;
    border-radius: 20px;
    padding: 10px 10px 0px 50px;
}
h2{
    font-variant: small-caps;
    color: blue;
    text-align: center;
    font-size: 20px;
}
input{
    margin: 5px;
}
button{
    background-color: rgb(226, 204, 7);
    bottom: 140px;
    margin-left: 200px;
    margin-bottom: 20px;
}
input[type=text]{
    background-color: rgb(226, 235, 149);
    color: red;
    box-shadow: 0 0 10px rgb(226, 69, 200);
}
