*{
    box-sizing: border-box;
}
    body{
        margin: 0px;padding: 0px;
        background-color: rgb(223, 225, 226);
    }
div.khung{
    margin: auto;
    box-shadow: 0 0 10px red;
    width: 1200px;
}
header{
    height: 300px;
    background-size: cover;
}
.menu{

    list-style: none;
    height: 30px;
    background-color: rgb(141, 171, 207);
    text-align: center;
    padding: 3px;
    width: 1200px;
    margin: auto;   
}
ul.menu li{
    display: inline;
}
.menu a{
    display: inline-block;
    color: rgb(229, 240, 250);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 6px;
}
.menu a:hover{
background-color: rgb(12, 114, 182);
}
article.noi_dung{
    width: 800px;
    background-color: white;
}
/* SLIDE */
.slide{
    width: 1200px;
}
.slide img{
    width: 1200px;
}
.slide .carousel-indicators{
    display: none;
}
/* SLIDE */
.noi_dung h2{
    color: #2daaed;
    text-transform: uppercase;
    padding: 0 20px 0 0;
    font-weight: 300 
    
    
}