*{
    box-sizing: border-box;
}
body{
    margin: 0px;padding: 0px;
    background-color: rgb(67, 151, 230);
}
div.khung{
    margin: auto;
    box-shadow: 0 0 10px red;
    width: 1200px;
}
header{
    width: 100%;
    height: 400px;
    background-image: url(anh/Banner-nhac.jpg);
    background-size: cover;
}
nav.menu{
    height: 40px;
    background-color: rgb(255, 131, 234);
    font-variant: small-caps;
    font-size: 25px;
}
article.noi_dung{
    width: 900px;
    height: 100%;
    background-color: white;
    float: left;
}
aside{
    width: 300px;
    height: 100%px;
    background-color: rgb(101, 221, 221);
    float: left;
}
footer{
    width: 100%;
    height: 70px;
    clear: both;
    background-color: orange;
}
ul.ngang{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul.ngang>li{
    display: inline-block;
    padding: 5px 10px 9px 10px;
    margin: 0px 10px 0px 10px;
}ul.ngang li a {
    text-decoration: none;
    color: rgb(248, 248, 248);
    text-shadow: 0 0 5px rgb(0, 248, 12);
}div.nghe-j img{
    width: 20%;
    margin: 5px 5px 5px 25px;
    height: 90px;
}
div.nghe-j h3{
    color: brown;
    font-size: 30px;
    margin-left: 20px;
}
div.nghe-j{
    border: 1px solid red;
}
div.nghe-j b {
    margin-left: 30px;
    margin-right: 50px;
}
.slide .carousel-indicators{
    display: none;
}
.noi_dung h2{
    color: #2daaed;
    text-transform: uppercase;
    padding: 0 20px 0 0;
    font-weight: 300px ;
}
.slide img{
    width: 900px;
}